### Built-in functions

Python provides a set of functions already built-in. You are already very familiar with one of them:

In [1]:
# Here print is the function
# Within parentheses we pass ONE parameter, the string with the message
print("Oh yeah, I am a function! I print things on the screen")

Oh yeah, I am a function! I print things on the screen

In [2]:
# The print function can take more than one parameter
# For example below we pass three strings as parameters
name = "Panos"
print("Hi", name, "How are you")

Hi Panos How are you

- You have already encountered `len`, `sum`, `max`, and `min`.

In [3]:
nums = [3, 41, 12, 9, 74, 15]

# len() takes as a parameter a string (and returns its length in characters)
# or a list/set/dictionary/... (and returns the number of elements)
print("Length:", len(nums))

Length: 6

In [4]:
# max() / min() takes as a parameter a *list* and returns 
# the maximum or minimum element
print("Max:", max(nums))
print("Min:", min(nums))

Max: 74
Min: 3

In [5]:
# sum() gets as input a list of numbers and returns their sum
print("Sum:", sum(nums))

Sum: 154

- We have also used various type conversion functions, such as `set`, `list`,  and `tuple`. We can also do type conversions with  `int`, `float`, and `str`:

In [6]:
# Convert to integer
int(3.7)

3

In [7]:
str(8)

'8'

In [8]:
# Convert to float
float(2)

2.0

In [9]:
# Convert to float <- also works with strings!
float('6.8')

6.8

In [10]:
# Convert to string 
str(233)

'233'

In [11]:
233 * 100

23300

In [13]:
int('233') * 100

23300

- And, we used  `type` to find out the type of a given variable.

In [14]:
# Type for a float
x = 1.99
type(x)

float

In [15]:
# Type for a string 
y = 'abc'
type(y)

str

In [16]:
# Type for a list
z = ['a', True, 3]
type(z)

list

In [17]:
# Type for an element of a list
type(z[1])

bool

In [18]:
# Type for all elements of a list 
[type(i) for i in z]

[str, bool, int]

In [19]:
z

['a', True, 3]

- In a variety of contexts, we also used the  `range` and `sorted` functions.

In [20]:
list(range(-10,10,2))

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [23]:
# sorted() has a list as input and returns the list with the elements sorted
sorted([5,23,3,77,9,12], 
       reverse=False)

[3, 5, 9, 12, 23, 77]

- You may also have seen the `round` function:

In [26]:
round(3.14159, 3)

3.142

The list at https://docs.python.org/3/library/functions.html contains all the built-in functions of Python.    
**As a general rule of thumb, avoid using these bult-in function names as variable names.**

### Functions from Libraries

We can also add more functions by `import`-ing libraries. For example, we can import the `math` library.

In [28]:
import math

In [31]:
# math.fabs returns the absolute value
math.fabs(2322345)

2322345.0

In [32]:
# math.fabs takes the factorial
math.factorial(5)

120

In [33]:
math.factorial(5)  ==  5*4*3*2*1

True

Another commonly used library is the `random` library that returns random numbers.

In [34]:
import random

In [49]:
random.randint(0,50) # Draw a random number

13

In [40]:
# random.random() returns random values from 0 to 1
for i in range(10):
    print(round(random.random(), 3))

0.092
0.22
0.821
0.219
0.814
0.438
0.644
0.868
0.101
0.578

In [54]:
#random.choice() can be used to select items from a list
for i in range(10):
    print(random.choice(['a','b','c','d']))

d
d
d
c
d
d
a
d
c
d

And, you have seen the `time` package

In [56]:
import time
print("hello")
time.sleep(5)
print("i'm done")

hello
i'm done

### User Defined Functions


** See also Examples 18, 19, 20, and 21 from Learn Python the Hard Way **

Functions assign a name to a block of code the way that variables assign names to bits of data. This seemingly benign naming of things is incredibly powerful; allowing one to reuse common functionality over and over. Well-tested functions form building blocks for large, complex systems. As you progress through Python, you'll find yourself using powerful functions defined in some of Python's vast libraries of code.

Function definitions begin with the `def` keyword, followed by the name you wish to assign to a function. Following this name are parentheses, `( )`, containing zero or more variable names, those values that are passed into the function. There is then a colon, followed by a code block defining the actions of the function:

    def function_name(function_input)
        ... function actions ...

#### Printing "Hi"

Let's start by looking at a function that performs a set of steps.

In [60]:
def print_hi(i):
    print(i, "hi!")

In [62]:
print_hi(i)

9 hi!

In [74]:
x=0
for i in ['cat', 'dog', 'parrot']:
    print(f"Now, i={i}")

Now, i=cat
Now, i=dog
Now, i=parrot

In [75]:
print(f"Now, i={i}")

Now, i=parrot

* Of course, most functions have also one or more _parameters_. For example, the function below will accept the name as a parameter, and then print out the message "HI _name_", where _name_ is the value of the parameter that we pass to the function. The function will also convert the _name_ into uppercase:

In [78]:
def hi_you(name):
    '''
    This function takes as input/parameter the variable name
    And then prints in the screen the message 
    HI <NAME>! 
    where <NAME> is the content of the name variable converted to uppercase
    '''
    print("HI", name.upper())

In [82]:
hi_you("FRED and Mary")

HI FRED AND MARY

In [84]:
names = ['Panos', 'Peter', 'Kylie', 'Jennifer', 'Elena']
for n in names:
    hi_you(n)

HI PANOS
HI PETER
HI KYLIE
HI JENNIFER
HI ELENA

* Let's modify the `hi_you` to take as input a *list* of names and print out all of them

In [88]:
def hi_you_all(list_of_names):
    '''
    This function takes as input/parameter list_of_names
    And then prints in the screen the message 
    HI <NAME>! 
    for all the names in the list_of_names.
    
    The paramater 'names' is a list of strings, with every string
    being a name that we want to print out
    '''
    for name in list_of_names:
        print("HI, great day isn't it?", name.upper(), "!")
        # Alternatively, we could reuse the function hi_you(name)
        # hi_you(name)

In [90]:
hi_you_all(["amy", "anna", "laura"])

HI, great day isn't it? AMY !
HI, great day isn't it? ANNA !
HI, great day isn't it? LAURA !

In [91]:
names = ['Panos', 'Peter', 'Kylie', 'Jennifer', 'Elena']
hi_you_all(names)

HI, great day isn't it? PANOS !
HI, great day isn't it? PETER !
HI, great day isn't it? KYLIE !
HI, great day isn't it? JENNIFER !
HI, great day isn't it? ELENA !

#### The `return` statement 

Example of computing a math function

In [129]:
# The functions are often designed to **return** the
# result of a computation/operation
def square(num):
    squared = num*num
    print("Square is,",squared)
    return squared

In [130]:
square(2)

Square is, 4

4

In [131]:
x = ?

Square is, 4

In [103]:
x = square(7)
x

49

In [104]:
x = square(3) # notice that square RETURNS a value that 
              # we store in variable x 
              # this is in contrast to hi_you and hi_you_all
              # that just printed out messages on the screen
print(x)

9

In [105]:
for i in range(15):
    print(f"The square of {i} is {square(i)}")

The square of 0 is 0
The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100
The square of 11 is 121
The square of 12 is 144
The square of 13 is 169
The square of 14 is 196

Note that the function `square` has a special keyword `return`. The argument to return is passed to whatever piece of code is calling the function. In this case, the square of the number that was input.

#### Solving the quadratic equation

Here is another example of a function, for solving the quadratic equation 
$$ a*x^2 + b*x + c = 0$$
Recall that the quadratic formula is:
$$ x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$$

In [134]:
import math

a = 4
b = -32
c = 1

In [135]:
# We want to solve the quadratic equation a*x^2 + b*x + c = 0 

# We have two solutions:
s1 = (-b + math.sqrt(b**2 - 4*a*c) )  / (2*a)       
s2 = (-b - math.sqrt(b**2 - 4*a*c) )  / (2*a)       

print(f"Solution 1: {s1:.3f}")
print(f"Solution 2: {s2:.3f}")

Solution 1: 7.969
Solution 2: 0.031

Let's see an example of how a function can return "multivalued" results using tuples/lists.

In [165]:
def quadratic(a,b,c) :       # Function takes a,b,c as input

    s1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)   
    s2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a)   
    
    print(s1,s2,"are the answers")
    return s1, s2  # Note that we can return multiple things
                    # The "return" value does not have to be a single value
                    # A function can even return a list, tuple, dictionary, etc.

In [166]:
x = quadratic(a,b,c)

7.9686269665968865 0.031373033403113926 are the answers

In [167]:
x

(7.9686269665968865, 0.031373033403113926)

In [169]:
# Observe that the function returns a tuple with s1 and s2
sol = quadratic(a,b,c)

print("Solutions:", sol )
print("Solutions:", sol[0] )
print("Solutions:", sol[1] )

7.9686269665968865 0.031373033403113926 are the answers
Solutions: (7.9686269665968865, 0.031373033403113926)
Solutions: 7.9686269665968865
Solutions: 0.031373033403113926

In [171]:
# If we want, we can even assign a value to each item returned, like so:
sol1, sol2 = quadratic(a,b,c)

print("Solutions:", sol1 )
print("Solutions:", sol2 )

7.9686269665968865 0.031373033403113926 are the answers
Solutions: 7.9686269665968865
Solutions: 0.031373033403113926

In [172]:
x1, x2 = quadratic(a,b,c)

7.9686269665968865 0.031373033403113926 are the answers

In [173]:
x1

7.9686269665968865

In [174]:
x2

0.031373033403113926

In [175]:
x, y = 1, 2

In [176]:
x

1

In [177]:
y

2

In [185]:
def flowers():
    return ['roses', 'lilies', 'peonies', "sunflowers"]

In [186]:
f = flowers() # Call the flower function, which returns a list
f

['roses', 'lilies', 'peonies', 'sunflowers']

In [188]:
x,y,z,w= flowers()
x

'roses'

In [193]:
a

4

In [194]:
a,b,c,d = f
a

'roses'

In [196]:
f

['roses', 'lilies', 'peonies', 'sunflowers']

In [198]:
x = 7

In [199]:
x

7

In [200]:
h, l = ["hi", "low"]

In [201]:
h

'hi'

In [ ]:
# We can even check that the value of the discriminant
# is positive before returning a result

def quadratic(a,b,c):
    
    discr = b**2 - 4*a*c
    if discr < 0:          #  We will not compute 
        return None        # "None" is a special value, meaning "nothing"
    
    s1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)   
    s2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a)   
    
    return s1, s2

In [ ]:
quadratic(6,1,9)

In [ ]:
quadratic(6,27,9)

In [208]:
## A COMMON MISTAKE:
# Using multiple return statements
# Why? After we execute the first return, 
# we do not execute anything below that
def quadratic_s1_only(a, b, c):
    
    discr = b**2 - 4*a*c
    if discr < 0:          #  We will not compute 
        return None        # "None" is a special value, meaning "nothing"
    
    
    s1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)   
    s2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a)   
    
    return s1, s2 # solution 1 
    return s2 # solution 2, BUT this will never be executed

In [209]:
a = 4
b = -32
c = 1
quadratic_s1_only(a, b, c)

(7.9686269665968865, 0.031373033403113926)

#### Example function: Cleaning up a string
We can use the `string` library to get a list of all letters by typing `string.ascii_letters`.

In [ ]:
# This code prints all the letters in the alphabet
import string
string.ascii_letters

In [ ]:
# this function takes as input a phone string variable
# and removes anything that is not a letter or space

def clean(text):
    result   = ""
    letters  = string.ascii_letters + " "
    for c in text:  
        if c in letters:
            result = result + c
    return result

In [ ]:
p = "(800) 555-1214 Phone number"
print(clean(p))

#### Exercises

* Write a function `in_range` that checks if a number `n` is within a given range `(a,b)` and returns True or False. The function takes n, a, and b as parameters.

In [221]:
n = 5
a = 10
b = 40

if n>a and n<b:
    print(f"{n} is in range ({a},{b})")
elif n<6:
    print(f"{n} is small, but is not in the range ({a},{b})")
if n<=a or n>=b: 
    print(f"{n}  not in the range ({a},{b})")

5 is small, but is not in the range (10,40)
5  not in the range (10,40)

In [215]:
x = "monday"

if x == "tuesday":
    print ("It's tuesday")
elif x == "monday":
    print("It's monday")
else:
    print("It's not monday or tuesday")

It's monday

In [222]:
n = 5
a = 10
b = 40

if n>a and n<b:
    print(f"{n} is in range ({a},{b})")

In [226]:
def in_range(a,b,n):
    # This function checks if n is in (a , b)
    if n>a and n<b:
        print(f"{n} is in range ({a},{b})")
        return True
    else:
        return False

In [228]:
in_range(5,10,1)

False

**Answer:** <span style="color:white">
def in_range(n, a, b):
    if n>a and n<b:
        return True
    else:
        return False

* Write a `dedup` function that takes as input a list and returns back another list, with only unique elements and sorted. For example, if the input is `[1,2,5,5,5,3,3,3,3,4,5]` the returned list should be `[1, 2, 3, 4, 5]`. If the input is `['New York', 'New York',  'Paris', 'London', 'Paris']` the returned list should be `['London', 'New York', 'Paris']`.

In [ ]:
list1 = [1,2,5,5,5,3,3,3,3,4,5]
list2 = ['New York', 'New York',  'Paris', 'London', 'Paris']

# Your function here

**Answer:** <span style="color:white">
def dedup(l):
    return sorted(list(set(l)))

- Write a function to test whether two strings are equal, ignoring capitalization.

In [231]:
# Your function here
def are_equal(s1, s2):
    if s1.lower() == s2.lower():
        return True
        return "what?!?!" # The function never gets this far
    else:
        return False

In [233]:
are_equal("hi", "HI!")

False

**Answer**: <span style="color:white">
def are_equal(s1,s2):
    if s1.lower() == s2.lower():
        return True
    else:
        return False    
are_equal("potato", "PoTATo")
are_equal("potato", "PoTAToes")

* Write a function that generates a random password with `n` letters. The value `n` should be a parameter.

In [246]:
# This code generates one random letter
import random
import string
random.choice(string.ascii_letters)

# Your function here

'q'

In [247]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [248]:
def gen_password(n):
    
    #Something with random.choice(string.ascii_letters)

5

In [293]:
def password(n):

    password = []
    for i in range(0,n):
        x = random.randint(0,10) # Take a letter, call it x
        x = str(x)
        #print(f"Password starts as...{password}, we call append with argument {x}")
        password.extend([x, "_"]) # Add x to the password list
        
        #print(f">>  Password ends as...{password}")
        # print(password) # What is the list, so far?

    return ''.join(password)

In [294]:
password(20)

'5_2_9_2_10_4_4_0_1_1_8_2_10_1_5_0_2_7_9_10_'

In [ ]:
'RomgDR'

**Answer:** <span style="color:white">
def random_letter():
    return random.choice(string.ascii_letters)
def random_password(n):
    password = ''
    for i in range(0,n):
        password+= random_letter()
    return password